.projetos {
    width: 100%;
    gap: 50px;
    padding: 50px 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f4f4f4;
}

.projetos h1 {
    text-align: center;

    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    font-size: 90px;
}

.projetos > div {
    display: flex;
    justify-content: center;

    gap: 34px;
    width: 90%;

    color: white;
}

.projetos > div > div {
    width: 33%;
    height: 700px;
    gap: 10px;
    padding-bottom: 5%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
}

.projetos > div > div::before {
    content: "";

    z-index: 1;

    width: 100%;
    height: 0%;
    top: 0%;

    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);

    transition: all 0.2s;
}

.projetos > div > div:hover::before {
    height: 100%;
}

.projetos > div > div:first-of-type {
    background-image: url(../../assets/cozinha.jpg);
}

.projetos > div > div:nth-of-type(2) {
    background-image: url(../../assets/agourmet.jpg);
}

.projetos > div > div:last-of-type{
    background-image: url(../../assets/vejamais.jpg);
}

.projetos > div > div > div,
.projetos > div > div > h2,
.projetos > div > div > p {
    padding: 0 10%;
    z-index: 2;
}

.projetos > div > div > div {
    display: flex;
    align-items: center;
    
    gap: 20px;
}

.projetos img {
    width: 80px;
    height: 80px;
}

.projetos h2 {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 45px;
}

.projetos p {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 25px;
}

.projetos h3 {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 46px;

    text-align: center;
}

@media(max-width: 1500px) {
    .projetos > div {
        overflow-x: auto;
        justify-content: flex-start;

        padding-bottom: 5px;
    }

    .projetos > div::-webkit-scrollbar {
        height: 6px;
    }

    .projetos > div::-webkit-scrollbar-track {
        background: rgb(230, 230, 230);
        border-radius: 20px;

        cursor: pointer;
    }
      
    .projetos > div::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 20px;
        
        cursor: pointer;
    }
    
    .projetos > div > div {
        min-width: 400px;
    }
}

@media(max-width: 900px) {
    .projetos h1 {
        font-size: 60px;
    }
}

@media(max-width: 500px) {
    .projetos h1 {
        font-size: 50px;
    }

    .projetos > div > div {
        min-width: 300px;
        height: 500px;
    }

    .projetos h2 {
        font-family: var(--fonte-principal);
        font-weight: 700;
        font-size: 30px;
    }
    
    .projetos p {
        font-size: 18px;
    }

    .projetos h3 {
        font-size: 23px;
    }
}