.institucional {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 250px;
    margin: 50px 0;
}

.banheiro1{
   width: 350px;
}


.texto{
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.institucional__container h1{
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.banheiro2{
    margin-top: 30px;
    width: 100%;
}
.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.image-background {
    width: 100%;
}
 
@media(max-width: 1200px) {
    .institucional{
        gap: 100px;
    }
}

@media(max-width: 900px) {
    .institucional {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .banheiro1 {
       width: 300px; 
    }
    
    .image-background {
        height: 200px;
    }
}

@media(max-width: 430px) {
    .institucional {
        gap: 10px;
    }
    
    .institucional__container h1 {
        font-size: 2.5rem;
    }

    .banheiro1 {
        width: 200px; 
     }

    .texto {
        font-size: .8rem;
    }
}