@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Italiana&family=Jacques+Francois&family=Jost:ital,wght@0,100..900;1,100..900&family=Marko+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url(header.css);
@import url(index/banner.css);
@import url(index/detalhes.css);
@import url(index/institucional.css);
@import url(index/materiais.css);
@import url(index/projetos.css);
@import url(feedback.css);
@import url(footer.css);

* {
    list-style-type: none;
    text-decoration: none;
    
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    background-color: #fff;
}

a {
    text-decoration: none;
}

:root {
    --fonte-principal: "Inter", sans-serif;
    --fonte-secundaria: "Marko One", serif;
    --fonte-subtitulo: "Italiana", sans-serif;
}